@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
html {
    display: grid;
    font-family: Montserrat;
}

body {
    display: grid;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    outline: none;
}

.tengah {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.now {
    text-align: left;
    margin-top: 2em;
    font-size: 2em;
}

.now span {
    font-weight: 200;
}

.container {
    position: relative;
    margin: auto;
    margin-top: 12vh;
    overflow: hidden;
    width: 650px;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 2em;
    font-size: 1em;
    color: #707070;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.header h1 {
    display: inline-block;
}

.header .date {
    padding-top: 30px;
    text-align: right;
}

h1 sup {
    font-size: 0.5em;
}

#timer {
    color: #f6f4f3;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.days,
.hours,
.minutes,
.seconds {
    display: inline-block;
    padding: 20px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgba(72, 94, 144, 0.16);
    ;
    cursor: pointer;
    margin: 5px;
    color: #183059;
    background: #fff;
}

.days:hover,
.hours:hover,
.minutes:hover,
.seconds:hover {
    background-color: #E2EEFF;
}

.numbers {
    font-family: "Montserrat", sans-serif;
    color: #707070;
    font-size: 4em;
}

footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.7em;
}

footer p {
    letter-spacing: 3px;
    color: #000;
}

footer a {
    color: skyblue;
    transition: all 1s;
    text-decoration: none;
    font-weight: bold;
}


/* Bubbles */

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(34, 122, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 30s infinite;
    animation: square 30s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(34, 122, 255, 0.15);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(34, 122, 255, 0.15);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(34, 122, 255, 0.15);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-900px) rotate(600deg);
        transform: translateY(-900px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-900px) rotate(600deg);
        transform: translateY(-900px) rotate(600deg);
    }
}


/* Menu */

.menu {
    filter: url("../image/menu-filter.svg#shadowed-goo");
}

.menu-item,
.menu-open-button {
    background: #707070;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    width: 380px;
    height: 250px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: #707070;
    color: #fff;
}

.menu-item:nth-child(3) {
    transition-duration: 70ms;
}

.menu-item:nth-child(4) {
    transition-duration: 130ms;
}

.menu-item:nth-child(5) {
    transition-duration: 190ms;
}

.menu-item:nth-child(6) {
    transition-duration: 250ms;
}

.menu-item:nth-child(7) {
    transition-duration: 310ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 160ms;
    transform: translate3d(114.42548px, 11.48084px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 240ms;
    transform: translate3d(77.18543px, 85.2491px, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 320ms;
    transform: translate3d(0.09158px, 114.99996px, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 400ms;
    transform: translate3d(-77.04956px, 85.37192px, 0);
}

.menu-open:checked~.menu-item:nth-child(7) {
    transition-duration: 480ms;
    transform: translate3d(-114.40705px, 11.66307px, 0);
}